/*LIMPAR AS FORMATAÇÕES PADROES*/
* { margin: 0; padding: 0; }
html{
	min-width: 500px;
}
body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
	flex-direction: column;
}
a{
	text-decoration: none;
}
/*LAYOUT*/
#container-header{
	width: auto;
	background-color: #093741;
	min-width: 10%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
@media (min-width: 711px){
	#header {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	min-width: 731px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
}
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   @media (max-width: 710px) {
   	#header {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
   .menu { 
    display:none;
    position: absolute;
    background-color:#093741;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    border-radius: 10px;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
}
.black{
	color: #070405;
}
.white{
	color: white;
	font-size: 1.5em;
}
nav ul div{
	list-style: none;
	margin: 20px;
	display: flex;
}
nav ul li a:link {
	display: block;
	padding: 0 10px
}
nav a:hover{
	color: #093741;
	background: #FFF;
	border-radius: 10px;
	text-decoration: none;
}
#content {
	/*width: 80%;*/
	margin: 0 auto;
	/*min-width: 1100px;*/
	padding: 15px 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	min-width: 3vw;
	flex-wrap: wrap;
}
.figure{
	height: 20rem;
	border-radius: 180px;
	box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.5);
}
.about-me{
	/*margin-left: 10%;*/
	text-align: center;
	width: 50%;
	height: 90%;
	min-width: 5vw;
	text-align: justify;
}
.about-me h2{
	padding: 35px 0;
}
#content2{
	/*margin: 0 auto;*/
	padding: 15px 10%;
	display: flex;
	justify-content: space-between;
	/*align-items: center;
	align-content: center ;*/
	/*min-width: 5vw;*/
	flex-wrap: wrap;
}
.subtitulo-hobbie{
	display: block;
}
@media (max-width:1010px ){
	.subtitulo-hobbie{
	text-align: left;
	}
	.troca{
		display: flex;
		text-align: right;
		align-items: center;
		align-content: center ;
	}
}
.subtitulo-Top-five{
	display: block;
}
#hobbies{
	text-align: right;
	/*display: flex;*/
	/*justify-content: space-between;
	flex-wrap: wrap;*/
	width: 47%;
	min-width: 290px;
}
#top-five{
	text-align: left;
	width: 47%;
	min-width: 290px;
}	
#hobbies h3, #top-five h3{
	padding: 15px;
}
#blocos-hobbies{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap;
}
#blocos-Top{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.hobbie{
	width: 75px;
	/*float: right;*/
	margin: 10px;
	height: 120px;
	background-color: #093743;
	box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.top{
	position: relative;
	width: 75px;
	margin: 10px;
	height: 120px;
	background-color: #093743;
	box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.content-hobbie, .content-top{
	border-radius: 10px;
	height: 80px;
	width: 100%;
}
.top div p, .hobbie div p{
	text-align: center;
	padding-top: 8px;
	color: #F5F5F5;
}
.rank{
	background-color: rgba(218, 223, 225, 0.7);
	height: 20px;
	width: 15px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 8px;
}
@media (max-width: 1132px){
	#content2{
		flex-direction: column;
		align-items: center;
	}
	#blocos-hobbies{
		display: flex;
		flex-direction: row;
	}
}
#container-footer{
	display: flex;
	justify-content: space-between;
	width: auto;
	background-color: #093741;
	height: 60px;
	align-items: center;
}
#container-footer div{
	margin: 0 10%;
}
#container-footer div img{
	width: 24px;
	height: 24px;
}
#footer-content{
	display: flex;
	width: 100px;
	gap: 20px;
	/*width: 85%;
	margin: 0 auto;
	padding: 15px;
	min-width: 731px;
	display: flex;
	align-items: center;
	border: 1px solid red;*/
}
.radius{
	border-radius: 180px;
}
#contact button{
	border-radius: 6px;
	padding: 5px 10px;
	border-style: none;
	box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
#contact button a{
	color: black;
}
#contact button:hover{
	background-color: grey;
}
header {
	padding: 15px 0;
	height: 55px;
}